header{
	color: white;
	font-size: 25px;
    font-family: Calibri, sans-serif;
    background-color: #41495C;
    margin: 15px 15px 15px 0px;
    padding: 10px;
}
td
{
    margin-left: 10px;
}
#title, #company-name, #result-status{
	color: white;
	font-size: 15px;
    font-family: Calibri, sans-serif;
    background-color: #41495C;
    margin: 0px;
    padding: 8px;
}
.textfield{
    width: 500px;
    height: 35px;
    padding: 5px;
    margin-left: 5px;
    font-size: 18px;
    color: darkslategrey;
    font-family: Arial,sans-serif;
}
.button{
    background-color: #41495C; /* Green */
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 24px;
    margin: 10px 0px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    display: inline-block;
    font-size: 15px;
}
.button1 {
    background-color: #41495C; 
    color: white; 
    border: 2px solid #41495C;
}

.button1:hover {
    background-color: white;
    color: black; 
    border: 2px solid #41495C;
}
