.form{
    margin: 10% 30%;
    /*width: 38%;*/
    max-width: 100%;
    height: auto;
    border: 2px solid #019934;
    padding: 15px;
}
.table{
    font-family: "Verdana","Sans-serif";
    font-size: 25px;
}
td{
    height: 50px
}
.textfield{
    width: 300px;
    height: 35px;
    padding: 5px;
    font-size: 18px;
    color: darkslategrey;
    font-family: Arial,sans-serif;
}
.button{
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 24px;
    margin: 15px 0px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    display: inline-block;
    font-size: 20px;
}
.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

.gbutton{
    background-color: #e63125; /* Red */
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 24px;
    margin: 15px 0px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    display: inline-block;
    font-size: 20px;
}
.gbutton1 {
    background-color: white; 
    color: black; 
    border: 2px solid #e63125;
}

.gbutton1:hover {
    background-color: #e63125;
    color: white;
}

a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid darkturquoise;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 15px 0px;
    transition-duration: 0.4s;
    border-radius: 8px;
    font-size: 19px;
}

a:hover, a:active {
    background-color: darkturquoise;
    color: white;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
    font-size: 15px;
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}