.form{
    margin: 8% 34%;
    max-width: 100%;
    height: auto;
    border: 2px solid #019934;
    padding: 15px;
}
.table{
    font-family: "Verdana","Sans-serif";
    font-size: 25px;
}
td{
    height: 50px;
}
.textfield{
    width: 350px;
    height: 45px;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    color: darkslategrey;
    font-family: Arial,sans-serif;
}
.button{
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 24px;
    margin: 15px 0px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    display: inline-block;
    font-size: 20px;
}
.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

.gbutton{
    background-color: #e63125; /* Red */
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 24px;
    margin: 15px 0px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    display: inline-block;
    font-size: 20px;
}
.gbutton1 {
    background-color: white; 
    color: black; 
    border: 2px solid #e63125;
}

.gbutton1:hover {
    background-color: #e63125;
    color: white;
}

a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid darkturquoise;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 15px 0px;
    transition-duration: 0.4s;
    border-radius: 8px;
    font-size: 19px;
}

a:hover, a:active {
    background-color: darkturquoise;
    color: white;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: justify;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
    font-size: 15px;
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
#ERROR
{
    font-family: serif;
    color: orangered;
    font-size: 18px;
    margin-left: 70px;
    max-height: 10px;
}

/*===================SPINNER FOR LOADING EFFECT=====================*/

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #3498db;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
