#ued,#und{
	text-align: center;
    font-family: monospace;
    font-size: 20;
    color: black;
    background-color: gold;
    margin: 0px;
    padding: 10px;
}
#master
{
    width: 100%;
    height: 100%;
}
#dashboard
{	
	width: 25%;
	height: 100%;
	background-color: #41495C;
	float:left;
    margin: 0px;
}
#displayPane
{
	/*width:940px;*/
	height:100%;
	/*border:1px solid #E9ECF1;*/
	background-color: white;
}
/*ul li
{
	margin-top:20px;
	list-style:none;
}
button
{
	margin-left: -30px;
	width: 200px;
	text-align: left;
	color:#9CD2F5;
	font-size:18px;
	border: none;
	/* border: 1px solid black; 
	background-color:#41495C;  
	cursor:pointer;
}
button:hover{
	color: #FFFFFF;
	background-color:#9CD2F5;
}*/
.btn-group .button {
    background-color: #41495C; /* Green */
    border: 1px solid #41495C;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    height: 10%;
    display: block;
}

.btn-group .button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

.btn-group .button:hover {
    background-color: mediumaquamarine;
}

p{
    text-align: center;
    font-family: monospace;
    font-size: 20;
    color: white;
}

/*===================SPINNER FOR LOADING EFFECT=====================*/

#loader {
  position: absolute;
  left: 65%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #3498db;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}