#name-and-photo{
	text-align: center;
    font-family: sans-serif;
    font-size: 25;
    color: white;
    background-color: darkcyan;
    margin: 5px;
    padding: 10px;
}
#ued{
	text-align: center;
    font-family: sans-serif;
    font-size: 18;
    color: white;
    margin: 5px;
}
#profile-pic
{
    border-radius: 30px;
}
#master
{
    width: 100%;
    height: 100%;
}
#dashboard
{	
	width: 20%;
	height: 100%;
	background-color: #41495C;
	float:left;
    margin: 0px;
    top: 0;
    left: 0;
    position: fixed;
}
#displayPane
{
	width: 80%;
	height: 100%;
	float: right;
    margin-left: 0px;
    top: 0;
    background-color: #f7f7f7;
}

/*===============CARDS DISPLAY CSS====================*/
#cards
{
    margin: 20px 10px;
    font-family: Calibri, sans-serif;
    color: black;
    font-style: normal;
    font-size: 18px;
}
#ind-card
{
    background-color: white;
    width: 90%;
    height: 15%;
    margin-left: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
    border-radius: 5px;
    cursor: pointer;
}
#ind-card:hover
{
    box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#company-name
{
    margin:10px;
    float:left;
}
#user-name
{
    margin: 10px;
    float: right;
}
#views
{
    margin:auto 20px;
}
#cardcontent
{
    background-color: white;
    width: 100%;
    height: auto;
    margin-left: 5px;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    color: black;
    font-family: sans-serif;
    font-style: normal;
    font-size: 18;
}
/*===================CARDS STYLING COMPLETE===================*/
/*ul li
{
	margin-top:20px;
	list-style:none;
}
button
{
	margin-left: -30px;
	width: 200px;
	text-align: left;
	color:#9CD2F5;
	font-size:18px;
	border: none;
	/* border: 1px solid black; 
	background-color:#41495C;  
	cursor:pointer;
}
button:hover{
	color: #FFFFFF;
	background-color:#9CD2F5;
}*/

/*===================DESCRIPTION, COMMENTS AND Q/A STYLING======================*/
#close
{
    margin: 0px;
    position: fixed;
    width: 100%;
    background-color: #f7f7f7;
    top: 0;
}
#close-image
{
    height: 40px;
    width: 40px;
    border-radius: 15px;
    cursor: pointer;
}
#main-content
{
    margin-top: 45px;
    background-color: #f7f7f7;
}
#description
{
    margin: 15px;
    margin-bottom: 20px;
    padding: 5px;
    border: 3px black solid;
    border-radius: 5px;
}
#comments
{
    margin: 5px;
    margin-top: 15px;
}
#ind-comment
{
    background-color: white;
    width: auto;
    color: white;
    height: auto;
    padding: 2px;
    margin: 15px 5px;
    border: 1px solid black;
    border-radius: 10px;
}
#cusername  /*comment username*/
{
    background-color: darkcyan;
    border-radius: 10px;
    padding: 5px;
    font-size: 18px;
    margin: 0px 0px auto 0px;
    font-family: sans-serif;
}
#comment
{
    color: black;
    font-family: sans-serif;
    font-size: 16px;
    padding: 5px;
}
#comment-heading
{
    font-family: sans-serif;
    font-size: 20px;
    width: 100%;
    height: 10%;
    padding: 5px;
    margin: 15px;
    border: 1px solid;
    border-radius: 10px;
    background-color: lightblue;
}
#comment-box, #questionbox
{
    font-family: sans-serif;
    font-size: 18px;
    margin: 15px;
    margin-bottom: 0px;
    width: 80%;
    height: 10%;
}
.cmnt-button, .q-button{
    background-color: cadetblue; /* Green */
    border: none;
    border-radius: 8px;
    color: white;
    padding: 8px 15px;
    margin: 0px 0px 15px 15px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    display: inline-block;
    font-size: 18px;
}
.cmnt-button1, .q-button1 {
    background-color: white; 
    color: black; 
    border: 2px solid cadetblue;
}

.cmnt-button1, .q-button1:hover {
    background-color: cadetblue;
    color: white;
}
#ind-question
{
    width: 100%;
}
/*===================END OF DESCRIPTION, COMMENTS AND Q/A STYLING======================*/

.btn-group .button {
    background-color: #41495C; /* Green */
    border: 1px solid #41495C;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    height: 9%;
    display: block;
}

.btn-group .button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

.btn-group .button:hover {
    background-color: mediumaquamarine;
}

/*p{
    text-align: center;
    font-family: monospace;
    font-size: 20;
    color: white;
}*/

/*===================SPINNER FOR LOADING EFFECT=====================*/

#loader {
  position: absolute;
  left: 63%;
  top: 55%;
  z-index: 1;
  width: 50px;
  height: 50px;
  margin: -75px 0 0 -75px;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}